<template>
  <div class="gameboard">
      <div class="gameboard-row">
          <div class="gameboard-cell"><tile class="game-tile" :number="$store.getters.gameState[0][0]"></tile></div>
          <div class="gameboard-cell"><tile class="game-tile" :number="$store.getters.gameState[0][1]"></tile></div>
          <div class="gameboard-cell"><tile class="game-tile" :number="$store.getters.gameState[0][2]"></tile></div>
          <div class="gameboard-cell"><tile class="game-tile" :number="$store.getters.gameState[0][3]"></tile></div>
      </div>
      <div class="gameboard-row">
          <div class="gameboard-cell"><tile class="game-tile" :number="$store.getters.gameState[1][0]"></tile></div>
          <div class="gameboard-cell"><tile class="game-tile" :number="$store.getters.gameState[1][1]"></tile></div>
          <div class="gameboard-cell"><tile class="game-tile" :number="$store.getters.gameState[1][2]"></tile></div>
          <div class="gameboard-cell"><tile class="game-tile" :number="$store.getters.gameState[1][3]"></tile></div>
      </div>
      <div class="gameboard-row">
          <div class="gameboard-cell"><tile class="game-tile" :number="$store.getters.gameState[2][0]"></tile></div>
          <div class="gameboard-cell"><tile class="game-tile" :number="$store.getters.gameState[2][1]"></tile></div>
          <div class="gameboard-cell"><tile class="game-tile" :number="$store.getters.gameState[2][2]"></tile></div>
          <div class="gameboard-cell"><tile class="game-tile" :number="$store.getters.gameState[2][3]"></tile></div>
      </div>
      <div class="gameboard-row">
          <div class="gameboard-cell"><tile class="game-tile" :number="$store.getters.gameState[3][0]"></tile></div>
          <div class="gameboard-cell"><tile class="game-tile" :number="$store.getters.gameState[3][1]"></tile></div>
          <div class="gameboard-cell"><tile class="game-tile" :number="$store.getters.gameState[3][2]"></tile></div>
          <div class="gameboard-cell"><tile class="game-tile" :number="$store.getters.gameState[3][3]"></tile></div>
      </div>
  </div>
</template>

<script>
import tile from './tile.vue'

export default {
  name: 'gameboard',
  components:{
      tile
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.gameboard{
    background-color: rgb(187, 173, 160);
    width:500px;
    height:500px;
    border-radius:5px;
}
.gameboard-row:first-of-type{
    padding-top:10px;
}
.gameboard-row{
    padding-bottom:10px;
    padding-left:10px;
    height:112px;
}
.game-tile{
    display:inline-block;
    border-radius:3px;
}
.gameboard-cell{
    display:inline-block;
    border-radius:3px;
    background-color: rgba(238, 228, 218, 0.35) !important;
    height:112px;
    width:112px;
    margin-right:10px;
}
</style>
