<template>
  <transition :name="$store.getters.tileTransition" mode="out-in">
    <div class="tile" :style="{ 'background-color': colors[number] ? colors[number].background : '#eee4da'}" v-if="number != '0'">
        <span class="tile-value" :style="{ 'color': colors[number] ? colors[number].text : '#776e65'}">{{number}}</span>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'tile',
  props:{
      number: Number
  },
  data() {
    return {
      colors: {
        '0': {
          'background': 'none',
          'text': 'none'
        },
        '2': {
          'background': '#eee4da',
          'text': '#776e65'
        },
        '4': {
          'background': '#ede0c8',
          'text': '#776e65'
        },
        '8': {
          'background': '#f2b179',
          'text': '#f9f6f2'
        },
        '16': {
          'background': '#f59563',
          'text': '#f9f6f2'
        },
        '32': {
          'background': '#f67c5f',
          'text': '#f9f6f2'
        },
        '64': {
          'background': '#f65e3b',
          'text': '#f9f6f2'
        },
        '128': {
          'background': '#edcf72',
          'text': '#f9f6f2'
        },
        '256': {
          'background': '#edcc61',
          'text': '#f9f6f2'
        },
        '512': {
          'background': '#edcc61',
          'text': '#f9f6f2'
        },
        '1024': {
          'background': '#edcc61',
          'text': '#f9f6f2'
        },
        '2048': {
          'background': '#edcc61',
          'text': '#f9f6f2'
        },
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.tile{
  width:100%;
  height:100%;
  background-color:white;
  display: flex !important;
  justify-content: center !important; /* align horizontal */
  align-items: center !important; /* align vertical */
}
.tile-value{
  font-weight:bold;
  font-size:40px;
  position:absolute;
}
.slide-fade-left-enter-active, .slide-fade-right-enter-active, .slide-fade-up-enter-active, .slide-fade-down-enter-active, {
  transition: all .2s ease;
}
.slide-fade-left-leave-active, .slide-fade-right-leave-active, .slide-fade-up-leave-active, .slide-fade-down-leave-active {
  transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-left-enter, .slide-fade-left-leave-to, 
.slide-fade-right-enter, .slide-fade-right-leave-to, 
.slide-fade-up-enter, .slide-fade-up-leave-to, 
.slide-fade-down-enter, .slide-fade-down-leave-to{
  opacity:0
}

.slide-fade-left-enter{
  transform: translateX(100px);
}
.slide-fade-left-leave-to{
  transform: translateX(-100px);
}

.slide-fade-right-enter{
  transform: translateX(-100px);
}
.slide-fade-right-leave-to{
  transform: translateX(100px);
}

.slide-fade-up-enter{
  transform: translateY(100px);
}
.slide-fade-up-leave-to{
  transform: translateY(-100px);
}

.slide-fade-down-enter{
  transform: translateY(-100px);
}
.slide-fade-down-leave-to{
  transform: translateY(100px);
}
</style>
