<template>
  <div id="app">
    
    <div class="game-title">
      2048
      <div class="current-score"><span class="score-title">Current Score</span><p> {{$store.getters.score}}</p></div>
      <div class="best-score"><span class="score-title">Best Score</span><p>{{$store.getters.bestScore}}</p></div>
    </div>
    
    <gameboard class="gameboard" />
  </div>
</template>

<script>
import gameboard from './components/gameboard.vue'

export default {
  name: 'app',
  components: {
    gameboard
  },
  methods: {
    addNewTile() {
      let empty_spaces = this.$store.getters.zeroCoords
      if(empty_spaces.length){
        let space = empty_spaces[Math.floor(Math.random()*empty_spaces.length)];
        this.$store.commit('setGameStateCell', {row: space[0], col: space[1], val: 2})
      } else {
        alert("YOU LOSE")
      }
    },
    isItemInArray(array, item){
      for (var i = 0; i < array.length; i++) {
          // This if statement depends on the format of your array
          if (array[i][0] == item[0] && array[i][1] == item[1]) {
              return true;   // Found it
          }
      }
      return false;   // Not found
    },
    arrayCompare(a1, a2) {
    if(a1.length != a2.length) {
      return false;
    }
    for(var i in a1) {
      // Don't forget to check for arrays in our arrays.
      if(a1[i] instanceof Array && a2[i] instanceof Array) {
      if(!this.arrayCompare(a1[i], a2[i])) {
        return false;
      }
      }
      else if(a1[i] != a2[i]) {
      return false;
      }
    }
    return true;
    },
    moveTileLeft(coords){
      let gameState = this.$store.getters.gameState
      if(coords[1] > 0){ // If I'm not against the left wall
        if(gameState[coords[0]][coords[1] - 1] === 0) { // If the next cell is empty
          // Move them over one
          this.$store.commit('setGameStateCell', {row: coords[0], col: coords[1] -1, val: gameState[coords[0]][coords[1]]})
          this.$store.commit('setGameStateCell', {row: coords[0], col: coords[1], val: 0})
          this.moveTileLeft([coords[0], coords[1] - 1])
          // And try again
        } else if (gameState[coords[0]][coords[1] - 1] === gameState[coords[0]][coords[1]]){ // If the next cell is the same value
          // Combine them
          this.$store.commit('setGameStateCell', {row: coords[0], col: coords[1] -1, val: gameState[coords[0]][coords[1]] * 2})
          this.$store.commit('setGameStateCell', {row: coords[0], col: coords[1], val: 0})
          this.$store.commit('incrementScore', gameState[coords[0]][coords[1]] * 2)
        }
      }
    },
    moveTileRight(coords){
      let gameState = this.$store.getters.gameState
      if(coords[1] < gameState.length - 1){ // If I'm not against the right wall
        if(gameState[coords[0]][coords[1] + 1] === 0) { // If the next cell is empty
          // Move them over one
          this.$store.commit('setGameStateCell', {row: coords[0], col: coords[1] + 1, val: gameState[coords[0]][coords[1]]})
          this.$store.commit('setGameStateCell', {row: coords[0], col: coords[1], val: 0})
          // And try again
          this.moveTileRight([coords[0], coords[1] + 1])
        } else if (gameState[coords[0]][coords[1] + 1] === gameState[coords[0]][coords[1]]){ // If the next cell is the same value
          // Combine them
          this.$store.commit('setGameStateCell', {row: coords[0], col: coords[1] + 1, val: gameState[coords[0]][coords[1]] * 2})
          this.$store.commit('setGameStateCell', {row: coords[0], col: coords[1], val: 0})
          this.$store.commit('incrementScore', gameState[coords[0]][coords[1]] * 2)
        }
      }
    },
    moveTileUp(coords){
      let gameState = this.$store.getters.gameState
      if(coords[0] > 0){ // If I'm not against the ceiling
        if(gameState[coords[0] - 1][coords[1]] === 0) { // If the next cell is empty
          // Move them over one
          this.$store.commit('setGameStateCell', {row: coords[0] - 1, col: coords[1], val: gameState[coords[0]][coords[1]]})
          this.$store.commit('setGameStateCell', {row: coords[0], col: coords[1], val: 0})
          this.moveTileUp([coords[0] - 1, coords[1]])
          // And try again
        } else if (gameState[coords[0] - 1][coords[1]] === gameState[coords[0]][coords[1]]){ // If the next cell is the same value
          // Combine them
          this.$store.commit('setGameStateCell', {row: coords[0] - 1, col: coords[1], val: gameState[coords[0]][coords[1]] * 2})
          this.$store.commit('setGameStateCell', {row: coords[0], col: coords[1], val: 0})
          this.$store.commit('incrementScore', gameState[coords[0]][coords[1]] * 2)
        }
      }
    },
    moveTileDown(coords){
      let gameState = this.$store.getters.gameState
      if(coords[0] < gameState.length - 1){ // If I'm not against the floor
        if(gameState[coords[0] + 1][coords[1]] === 0) { // If the next cell is empty
          // Move them over one
          this.$store.commit('setGameStateCell', {row: coords[0] + 1, col: coords[1], val: gameState[coords[0]][coords[1]]})
          this.$store.commit('setGameStateCell', {row: coords[0], col: coords[1], val: 0})
          this.moveTileDown([coords[0] + 1, coords[1]])
          // And try again
        } else if (gameState[coords[0] + 1][coords[1]] === gameState[coords[0]][coords[1]]){ // If the next cell is the same value
          // Combine them
          this.$store.commit('setGameStateCell', {row: coords[0] + 1, col: coords[1], val: gameState[coords[0]][coords[1]] * 2})
          this.$store.commit('setGameStateCell', {row: coords[0], col: coords[1], val: 0})
          this.$store.commit('incrementScore', gameState[coords[0]][coords[1]] * 2)
        }
      }
    },
    handleGlobalKeypress(e) {      
      let filledCoords = this.$store.getters.filledCoords || []
      let gameState = this.$store.getters.gameState
      let oldGameState = JSON.parse(JSON.stringify(gameState))
      if(e.key === 'ArrowLeft'){
        this.$store.commit('setTileTransition', 'slide-fade-left')
        for(var row = 0; row < gameState.length; row ++){ // Each row, top to bottom
          for(var col = 0; col < gameState.length; col++){ // Each col, left to right
            if(this.isItemInArray(filledCoords, [row, col])){
              this.moveTileLeft([row, col])
            }
          }
        }
        if(!this.arrayCompare(oldGameState, this.$store.getters.gameState)){
          this.addNewTile()
        }
      }
      if(e.key === 'ArrowRight'){
        this.$store.commit('setTileTransition', 'slide-fade-right')
        for(var row = 0; row < gameState.length; row ++){ // Each row, top to bottom
          for(var col = gameState.length - 1; col > -1; col--){ // Each col, right to left
            if(this.isItemInArray(filledCoords, [row, col])){
              this.moveTileRight([row, col])
            }
          }
        }
        if(!this.arrayCompare(oldGameState, this.$store.getters.gameState)){
          this.addNewTile()
        }
      }
      if(e.key === 'ArrowUp'){
        this.$store.commit('setTileTransition', 'slide-fade-up')
        for(var col = 0; col < gameState.length; col ++){ // Each col, left to right
          for(var row = 0; row < gameState.length; row++){ // Each row, top to bottom
            if(this.isItemInArray(filledCoords, [row, col])){
              this.moveTileUp([row, col])
            }
          }
        }
        if(!this.arrayCompare(oldGameState, this.$store.getters.gameState)){
          this.addNewTile()
        }
      }
      if(e.key === 'ArrowDown'){
        this.$store.commit('setTileTransition', 'slide-fade-down')
        for(var col = 0; col < gameState.length; col ++){ // Each col, left to right
          for(var row = gameState.length - 1; row > -1; row--){ // Each col, right to left
            if(this.isItemInArray(filledCoords, [row, col])){
              this.moveTileDown([row, col])
            }
          }
        }
        if(!this.arrayCompare(oldGameState, this.$store.getters.gameState)){
          this.addNewTile()
        }
        
      }
    }
  },
  created: function () {
    window.addEventListener('keyup', this.handleGlobalKeypress)
    this.$store.commit("clearBoard")
    this.$store.commit("clearScore")
    this.addNewTile()
    this.addNewTile()
  },
  destroyed: function () {
    window.removeEventListener('keyup', this.handleGlobalKeypress)
  },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;  
}
.game-title{
  font-size:100px;
  width:500px;
  padding:20px;
  margin:auto;
}
.gameboard{
  width:500px;
  margin:0px auto;
}
body{
  background-color: rgb(250, 248, 239) !important;
}
.current-score, .best-score{
  color:white;
  background-color:rgb(187, 173, 160);
  padding:10px;
  width:80px;
  border-radius: 5px;
  text-align:center;
  font-size:20px;
  display:inline-block;
  margin:10px;
}
.current-score .score-title, .best-score .score-title{
  font-size:12px;
}

</style>
